$main-color: #2e71e9;

.song-button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.75rem;

  * {
    pointer-events: none;
  }

  .song-cover {
    width: 2rem;
    border-radius: 0.25rem;
  }
  .song-description {
    margin: 0 1rem;
    border-bottom: solid 0.1rem rgb(77, 77, 77);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      margin: 0;
      font-size: 0.9rem;
    }

    .others {
      * {
        margin-right: 1rem;
        font-size: 0.7rem;
      }

      .author {
        color: rgb(187, 187, 187);
      }

      .year {
        color: $main-color;
      }

      .album {
        color: rgb(187, 187, 187);
      }
    }
  }

  &:hover {
    background-color: black;
    cursor: pointer;
  }
}

@media only screen and (max-width: 1024px) and (max-height: 1366px) {
  .song-button {
    .song-description {
      .others {
        * {
          font-size: 0.75rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 414px) and (max-height: 823px) {
  .song-button {
    padding: 0.75rem 0.5rem;
    .song-cover {
      width: 2.5rem;
    }
  }

  .title {
    font-size: 0.7rem;
  }
  .author {
    font-size: 0.6rem;
  }
  .album {
    display: none;
  }
}
