$main-color: #4cad4c;
// $main-color: #3a9fe5;

.music-player {
  width: 100%;
  color: black;
  display: flex;
  justify-content: center;

  .application {
    height: 100%;
    width: 55rem;
    border: 0.2rem solid rgb(43, 43, 43);
    border: {
      top: 0;
      bottom: 0;
    }
  }

  .top {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 1024px) and (max-height: 1366px) {
  .music-player {
    .application {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 414px) and (max-height: 823px) {
  .music-player {
    width: 100%;

    .application {
      border: none;
    }
  }
}
